*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ccc;
}

$color: aquamarine;

header{
    background-color: $color;
    nav{
        text-align: center;
        a{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
            &:hover{
                color: blueviolet;
            }
        }
    }
}
div{
    margin-top: 30px;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: red;
    text-align: center;
    margin-top: 40px;
    a{
        text-decoration: none;
        color: black;
    }
}